html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
.image {
    background-image: url("C:/Users/SHIKHAR/Desktop/A/wallpapers/cropped-1366-768-1333287.png");
    /* background-color: #0077FF; */
    height: 100vh;
    opacity: 0.87;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    filter: blur(2px);
}
.one{
    text-align: center;
    height: fit-content;
    width:32%;
    position:absolute;
    top:5%;
    left:35%;
    background-attachment:scroll;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-bottom: 1%;
    padding-top: 1%;
}
.text{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}
input[type="email"],input[type="password"],input[type="text"]{
    width: 70%;
    padding: 14px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: border-color 1s ease;
}
input::placeholder {
    width: 100%;
}
input[type="email"]:hover,input[type="password"]:hover,input[type="text"]:hover {
    border-color: #0077FF;
}
input[type="email"]:hover::placeholder,input[type="password"]:hover::placeholder,input[type="text"]:hover::placeholder {
    color: #0077FF;
}
a{
    color: rgb(0, 153, 255);
    font-size:13px;
    text-decoration: none;
    margin-top:2px;
    margin-bottom: 5px;
    display:contents;
}
.btn{
    width: 78%;
    padding: 14px;
    background-color: rgb(0, 81, 255);
    color:rgb(255, 255, 255);
    border-radius: 5px;
    border-color:rgb(0, 81, 255) ;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: 0.5s;
}
.btn:hover{
    background-color: white;
    color:rgb(0, 81, 255);
    border-color: rgb(0, 81, 255);
}
.t{
    margin-top:2px;
    margin-bottom: 5px;
    font-size:13px;
}
.line-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.glinele {
    width: 35%;
    height: 2px;
    background: repeating-linear-gradient(to left, rgb(37, 37, 37),white);
}
.glineri {
    width: 35%;
    height: 2px;
    background: repeating-linear-gradient(to right, rgb(37, 37, 37),white);
}
.texto {
    margin: 0 10px;
}
.ggl{
    background-color: red;
    border-color: red;
}
.ggl:hover{
    background-color: white;
    color: red;
    border-color: red;
}
.twt{
    background-color: #00ccff;
    border-color: #00ccff;
}
.twt:hover{
    background-color: white;
    color: #00ccff;
    border-color: #00ccff;
}